build
vivado/*
!vivado/zedboard_uart.xpr

src/bd/ipshared
src/bd/sim
src/bd/synth
src/bd/ui
src/bd/hw_handoff
src/bd/bd_ooc.xdc
src/bd/bd.bxml
src/bd/bd.bda

src/bd/ip/bd_auto_pc_0/*
!src/bd/ip/bd_auto_pc_0/bd_auto_pc_0.xci
!src/bd/ip/bd_auto_pc_0/bd_auto_pc_0.xml

src/bd/ip/bd_axi_gpio_0_0/*
!src/bd/ip/bd_axi_gpio_0_0/bd_axi_gpio_0_0.xci
!src/bd/ip/bd_axi_gpio_0_0/bd_axi_gpio_0_0.xml

src/bd/ip/bd_axi_uartlite_0_0/*
!src/bd/ip/bd_axi_uartlite_0_0/bd_axi_uartlite_0_0.xci
!src/bd/ip/bd_axi_uartlite_0_0/bd_axi_uartlite_0_0.xml

src/bd/ip/bd_processing_system7_0_0/*
!src/bd/ip/bd_processing_system7_0_0/bd_processing_system7_0_0.xci
!src/bd/ip/bd_processing_system7_0_0/bd_processing_system7_0_0.xml

src/bd/ip/bd_rst_ps7_0_50M_0/*
!src/bd/ip/bd_rst_ps7_0_50M_0/bd_rst_ps7_0_50M_0.xci
!src/bd/ip/bd_rst_ps7_0_50M_0/bd_rst_ps7_0_50M_0.xml

src/bd/ip/bd_xbar_0/*
!src/bd/ip/bd_xbar_0/bd_xbar_0.xci
!src/bd/ip/bd_xbar_0/bd_xbar_0.xml

*.log
vitis/.analytics