build
vivado/*
!vivado/zedboard_axi_dma.xpr

src/bd/ipshared
src/bd/sim
src/bd/synth
src/bd/ui
src/bd/hw_handoff
src/bd/bd_ooc.xdc
src/bd/bd.bxml
src/bd/bd.bda

src/bd/ip/bd_auto_pc_0/*
!src/bd/ip/bd_auto_pc_0/bd_auto_pc_0.xci
!src/bd/ip/bd_auto_pc_0/bd_auto_pc_0.xml

src/bd/ip/bd_auto_pc_1/*
!src/bd/ip/bd_auto_pc_1/bd_auto_pc_1.xci
!src/bd/ip/bd_auto_pc_1/bd_auto_pc_1.xml

src/bd/ip/bd_auto_us_0/*
!src/bd/ip/bd_auto_us_0/bd_auto_us_0.xci
!src/bd/ip/bd_auto_us_0/bd_auto_us_0.xml

src/bd/ip/bd_auto_us_1/*
!src/bd/ip/bd_auto_us_1/bd_auto_us_1.xci
!src/bd/ip/bd_auto_us_1/bd_auto_us_1.xml

src/bd/ip/bd_axi_dma_0_0/*
!src/bd/ip/bd_axi_dma_0_0/bd_axi_dma_0_0.xci
!src/bd/ip/bd_axi_dma_0_0/bd_axi_dma_0_0.xml

src/bd/ip/bd_axi_uartlite_0_0/*
!src/bd/ip/bd_axi_uartlite_0_0/bd_axi_uartlite_0_0.xci
!src/bd/ip/bd_axi_uartlite_0_0/bd_axi_uartlite_0_0.xml

src/bd/ip/bd_axis_data_fifo_0_0/*
!src/bd/ip/bd_axis_data_fifo_0_0/bd_axis_data_fifo_0_0.xci
!src/bd/ip/bd_axis_data_fifo_0_0/bd_axis_data_fifo_0_0.xml

src/bd/ip/bd_proc_sys_reset_0_0/*
!src/bd/ip/bd_proc_sys_reset_0_0/bd_proc_sys_reset_0_0.xci
!src/bd/ip/bd_proc_sys_reset_0_0/bd_proc_sys_reset_0_0.xml

src/bd/ip/bd_processing_system7_0_0/*
!src/bd/ip/bd_processing_system7_0_0/bd_processing_system7_0_0.xci
!src/bd/ip/bd_processing_system7_0_0/bd_processing_system7_0_0.xml

src/bd/ip/bd_xbar_1/*
!src/bd/ip/bd_xbar_1/bd_xbar_1.xci
!src/bd/ip/bd_xbar_1/bd_xbar_1.xml

src/bd/ip/bd_xbar_3/*
!src/bd/ip/bd_xbar_3/bd_xbar_3.xci
!src/bd/ip/bd_xbar_3/bd_xbar_3.xml




*.log